/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, form {
  margin: 0;
  padding: 0;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background-image: url('https://fixthephoto.com/images/content/dark-grey-background-texture-241613736548.jpg');
  /* Additional properties to adjust the background appearance */
  background-size: cover; /* Adjusts the size of the background image */
  background-position: center; /* Centers the background image */
  color: #fff; /* Text color for better visibility */
  padding: 20px; /* Adjust as per your design */
  text-align: center;
}



header h1 {
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px 0;
}

.section {
  padding: 40px 0;
}

.project {
  margin-bottom: 20px;
}

footer {
  background-image: url('https://fixthephoto.com/images/content/dark-grey-background-texture-241613736548.jpg');
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}
